[submodule "plugins/mitogen"]
	path = plugins/mitogen
	url = https://github.com/dw/mitogen.git
	branch = v0.2.8
[submodule "submodules/forklift"]
	path = submodules/forklift
	url = https://github.com/theforeman/forklift.git
