[defaults]
strategy_plugins = ./plugins/mitogen/ansible_mitogen/plugins/strategy
strategy = mitogen_linear
roles_path = ./galaxy:./submodules/forklift/roles
host_key_checking = no
library = plugins/foreman/plugins/modules
module_utils = plugins/foreman/plugins/module_utils
doc_fragment_plugins = plugins/foreman/plugins/doc_fragments
filter_plugins = plugins/foreman/plugins/filter
inventory = plugins/foreman/tests/inventory/hosts

[ssh_connection]
control_path = %(directory)s/%%h-%%p-%%r
